@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.54 0.27 286.75);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.95 0.01 255.49);
  --secondary-foreground: oklch(0.13 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.44 0 0);
  --accent: oklch(0.94 0.03 266.38);
  --accent-foreground: oklch(0.54 0.19 259.48);
  --destructive: oklch(0.63 0.19 23.07);
  --border: oklch(0.93 0.01 286.34);
  --input: oklch(0.94 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.75 0.15 156.44);
  --chart-2: oklch(0.54 0.27 286.75);
  --chart-3: oklch(0.73 0.18 50.55);
  --chart-4: oklch(0.58 0.18 259.73);
  --chart-5: oklch(0.56 0 0);
  --sidebar: oklch(0.98 0.01 247.84);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.94 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0 0 0);

  --font-sans: Poppins, sans-serif;
  --font-serif: Nunito, sans-serif;
  --font-mono: Fira Code, monospace;

  --radius: 1.6rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.27rem;
}

.dark {
  --background: oklch(0.22 0.01 271.16);
  --foreground: oklch(0.96 0 0);
  --card: oklch(0.26 0.01 274.68);
  --card-foreground: oklch(0.96 0 0);
  --popover: oklch(0.26 0.01 274.68);
  --popover-foreground: oklch(0.96 0 0);
  --primary: oklch(0.61 0.23 291.75);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.29 0.01 272.95);
  --secondary-foreground: oklch(0.96 0 0);
  --muted: oklch(0.29 0.01 272.95);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.28 0.04 260.03);
  --accent-foreground: oklch(0.79 0.12 246.65);
  --destructive: oklch(0.71 0.17 22.22);
  --border: oklch(0.33 0.01 268.40);
  --input: oklch(0.33 0.01 268.40);
  --ring: oklch(0.61 0.23 291.75);
  --chart-1: oklch(0.80 0.18 151.71);
  --chart-2: oklch(0.61 0.23 291.75);
  --chart-3: oklch(0.81 0.10 19.58);
  --chart-4: oklch(0.67 0.16 260.10);
  --chart-5: oklch(0.71 0 0);
  --sidebar: oklch(0.20 0.00 286.10);
  --sidebar-foreground: oklch(0.96 0 0);
  --sidebar-primary: oklch(0.61 0.23 291.75);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.29 0.01 272.95);
  --sidebar-accent-foreground: oklch(0.61 0.23 291.75);
  --sidebar-border: oklch(0.33 0.01 268.40);
  --sidebar-ring: oklch(0.61 0.23 291.75);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}